In [26]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

import joblib

In [27]:
# Load dataset
df = pd.read_csv(r"C:\Users\akash\Desktop\CROSS VALIDATION\Dataset\medical_data.csv")

df.head()

,Age,Gender,BMI,Blood_Pressure,Glucose,Cholesterol,Heart_Rate,Disease
0,25,0,21.5,110,85,170,72,0
1,28,1,22.8,115,90,175,74,0
2,30,0,23.4,118,92,180,75,0
3,32,1,24.1,120,95,185,76,0
4,35,0,25.2,125,100,190,78,0

In [28]:
X = df.drop("Disease", axis=1)   # change target column name
y = df["Disease"]

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [30]:
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ("model", LogisticRegression(max_iter=1000))
])

cv_scores = cross_val_score(
    pipeline,
    X_train,
    y_train,
    cv=5,
    scoring="accuracy"
)

print("Cross Validation Scores:", cv_scores)
print("Mean Accuracy:", cv_scores.mean())

Cross Validation Scores: [1. 1. 1. 1. 1.]
Mean Accuracy: 1.0

In [31]:
pipeline.fit(X_train, y_train)

print("Model trained successfully")

Model trained successfully

In [32]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

df["Cluster"] = clusters
df.head()

,Age,Gender,BMI,Blood_Pressure,Glucose,Cholesterol,Heart_Rate,Disease,Cluster
0,25,0,21.5,110,85,170,72,0,1
1,28,1,22.8,115,90,175,74,0,1
2,30,0,23.4,118,92,180,75,0,1
3,32,1,24.1,120,95,185,76,0,1
4,35,0,25.2,125,100,190,78,0,2

In [35]:
joblib.dump(pipeline, "medical_classification_model.pkl")
joblib.dump(kmeans, "medical_kmeans_model.pkl")
joblib.dump(scaler, "medical_scaler.pkl")

print("✅ All models saved successfully")

✅ All models saved successfully

In [34]:
loaded_model = joblib.load("medical_classification_model.pkl")

sample_input = X.iloc[[0]]
prediction = loaded_model.predict(sample_input)

print("Prediction:", prediction)

Prediction: [0]